

/* Fundo roxo e texto branco */
body {
    background-color: #6a0dad; /* roxo */
    color: white;
}

/* Garantir que títulos e textos fiquem brancos */
h1, h2, p, li, a {
    color: white;
}

/* Botão lilás */
.btn-primary {
    background-color: #c77dff; /* lilás */
    border-color: #c77dff;
}

/* Efeito ao passar o mouse */
.btn-primary:hover {
    background-color: #b04bff;
    border-color: #b04bff;
}
